extends layout

block content
	form
		.item
			p.question 我不是一个充满烦恼的人。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_1")
					input(type="radio", value="2", name="question_1")
					input(type="radio", value="3", name="question_1")
					input(type="radio", value="4", name="question_1")
					input(type="radio", value="5", name="question_1")
			.clear.zero
		.separator
		.item
			p.question 我很容易受惊吓。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_31")
					input(type="radio", value="2", name="question_31")
					input(type="radio", value="3", name="question_31")
					input(type="radio", value="4", name="question_31")
					input(type="radio", value="5", name="question_31")
			.clear.zero
		.separator
		.item
			p.question 我很少感到恐惧及焦虑。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_61")
					input(type="radio", value="2", name="question_61")
					input(type="radio", value="3", name="question_61")
					input(type="radio", value="4", name="question_61")
					input(type="radio", value="5", name="question_61")
			.clear.zero
		.separator
		.item
			p.question 我不是一个充满烦恼的人。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_1")
					input(type="radio", value="2", name="question_1")
					input(type="radio", value="3", name="question_1")
					input(type="radio", value="4", name="question_1")
					input(type="radio", value="5", name="question_1")
			.clear.zero
		.separator
		.item
			p.question 我不是一个充满烦恼的人。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_1")
					input(type="radio", value="2", name="question_1")
					input(type="radio", value="3", name="question_1")
					input(type="radio", value="4", name="question_1")
					input(type="radio", value="5", name="question_1")
			.clear.zero
		.separator
		.item
			p.question 我不是一个充满烦恼的人。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_1")
					input(type="radio", value="2", name="question_1")
					input(type="radio", value="3", name="question_1")
					input(type="radio", value="4", name="question_1")
					input(type="radio", value="5", name="question_1")
			.clear.zero
		.separator
		.item
			p.question 我不是一个充满烦恼的人。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_1")
					input(type="radio", value="2", name="question_1")
					input(type="radio", value="3", name="question_1")
					input(type="radio", value="4", name="question_1")
					input(type="radio", value="5", name="question_1")
			.clear.zero
		.separator
		.item
			p.question 我不是一个充满烦恼的人。
			.answer
				.legend.left
					非常不
					符合我
				.legend.right
					非常
					符合我
				.controls
					input(type="radio", value="1", name="question_1")
					input(type="radio", value="2", name="question_1")
					input(type="radio", value="3", name="question_1")
					input(type="radio", value="4", name="question_1")
					input(type="radio", value="5", name="question_1")
			.clear.zero
		input.submit_test(type="submit", value="Get Results!")
	.results